{% extends 'base.html' %}

{% block title %} ItemGameStore | About {% endblock %}

{% block content %}
{% load static %}
<style>
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
</style>
<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About ItemGameStore</h1>
          <p class="lead text-muted">Web ini adalah web untuk membeli game-game yang tertera</p>
        </div>
      </section>
{% endblock %}