{% extends 'baseusr.html' %}

{% block title %} ItemGameStore | Item {% endblock %}

{% block content %}
<section id="isi">
<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg1.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Clash of Clans: Gems Pack</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.110.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg2.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Clash Royale: Legendary Chest</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.120.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg3.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Brawl Stars: Deluxe package</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.130.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg4.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Minecraft: Bedrock Edition</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.109.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg5.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Muse Dash: Premium</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.43.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg6.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Mobile Legend: Skin Pack</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.500.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg7.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Google Play: Voucher</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.100.000</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{url_for('static',filename = 'carimg8.jpg')}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Steam Wallet: Gift Card</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group"><a href="{{ url_for('payusr') }}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Beli</button></a>
                    </div>
                    <small class="text-muted">Rp.100.000</small>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
            </div>
            </div>
            </div>
</section>
{% endblock %}