{% extends 'base.html' %}

{% block title %} ItemGameStore {% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <p><a href="/addmbr" class="btn btn-primary">Tambah Data</a> </p>
    <table class="table table-striped">


        <h2 class="align-center">Daftar Member</h2>
            <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Status</th>
                <th>Join</th>
                <th>Subscribe</th>
                <th>Aksi</th>
            </tr>
            {% for Member in members %}
            <tr>
                <td><a href="{% url 'ubah_mbr' Member.id %}">{{ Member.email }}</a></td>
                <td>{{ Member.username }}</td>
                <td>{{ Member.status }}</td>
                <td>{{ Member.join_date }}</td>
                <td>{{ Member.subscribe }}</td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#hapus-{{ Member.id }}">Hapus</button></td>

            <div class="modal fade" id="hapus-{{ Member.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Yakin akan di hapus? </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Member: {{ Member.email }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                            <a href="{% url 'hapus_mbr' Member.id %}" class="btn btn-danger">Yakin</a>
                        </div>
                    </div>
                </div>
            </div>

            </tr>
            {% endfor %}
            
    </table>
</div>
{% endblock %}