{% extends 'base.html' %}

{% block title %} ItemGameStore {% endblock %}

{% block content %}
{% load static %}
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <h3>ubah : {{ members.email }}</h3>
                <form action="{% url 'ubah_mbr' members.id %}" method="post">
                    {% csrf_token %}
                    {{formm.as_p}}
                    <button type="submit" class="btn btn-primary">Tambah</button>
                    <a href="/member" class="btn btn-danger">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}